.slider{
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: black;
    i{
        font-size: 2vw;
    }
}

.slide {
    min-width: 100%;
    height: 100%;
    transition: 0.5s;
    overflow: hidden;
}

%btn-styles{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    transition: 0.5s;
    &:hover{
        background: rgba(0, 0, 0, 0.274);
        cursor: pointer;
        i{
            color: rgb(161, 156, 156);
        }
    }
}

#goLeft{
    left: 0;
    @extend %btn-styles;
}

#goRight{
    right: 0;
    @extend %btn-styles;
}