#cardRegister{
    height: 905px;
    width: 550px;
    position: absolute;
    left: 35%;
    margin-left: -40px;
    top: 10%;
    margin-top: -40px;
  }
  #cardAnaliza{
    height: 905px;
    width: 550px;
    position: absolute;
    left: 35%;
    margin-left: -40px;
    top: 10%;
    margin-top: -40px;
  }
  .back-color-register {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      width: 100%;
      height: 130%;
      display: inline-block;
      background: rgb(195,48,48);
      background: linear-gradient(0deg, rgba(245,28,0,1) 0%, rgba(231,255,250,1) 18%);
  }
  
  .button-register {
      background-color: rgb(96, 132, 230); /* Green */
      border: none;
      color: rgb(0, 0, 0);
      padding: 10px 100px;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 16px;
      cursor: pointer;
      text-align: center;
    }
  
  .button1 {border-radius: 50px;}
  
  #title {
          word-spacing: -5px;
          letter-spacing: 2px;
          word-spacing: 2px;
          text-decoration: none;
          font-style: normal;
          font-variant: normal;
          text-transform: none;
          font-size:40px ;
          align-items: center;
          flex-direction: column;
          display: flex;
          justify-content: center;
          text-align: center; 
  }
  
  #backProducts {
      background-image: linear-gradient(to left top, #845EC2, #9B89B3, #FDF7FF, #D5CABD);
      margin: 0;
      size: 100%;
      
  }
  
  #distance {
     margin-left: 400px;
  }
  
  #img{
      width:400px ;
      height:280px;
  }
  
  
  #btn{
      position: absolute;
      right:    10px;
      bottom:   10px;
      background: rgb(78, 27, 94);
  } 
  #btn:focus{
      position: absolute;
      right:    10px;
      bottom:   10px;
      background: rgb(156, 14, 61);
  }
  