.container {
    background: rgb(195,48,48);
    background: linear-gradient(0deg, rgba(245,28,0,1) 0%, rgba(231,255,250,1) 18%);
    min-height: 100vh;
    min-width: 215vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: rgb(10, 10, 10);
    text-align: center;
}

h1,
h2 {
    margin: 10px;
}

.answer {
    border: 1px solid rgb(12, 9, 9);
    padding: 5px 50px 5px 45px;
    width: 350px;
    text-align: center;
    margin-top: 10px;
    position: relative;
    font-size: 22px;
    cursor: pointer;
    transition: ease-in-out, width .35s ease-in-out;
}

.answer.selected {
    color: #4f4c4c;
    background-color: #60f03f;
}

.answer:hover {
    color: #4f4c4c;
    background-color: #c8ffbb;
}

.answer:focus {
    outline: none;
}

.results span.correct {
    color: #51b83a;
}

.results span.failed {
    color: #f27c7c;
}

.error{
    color: #f27c7c;
}

.letter {
    color: #4f4c4c;
    width: 30px;
    position: absolute;
    left: 0;
    text-align: center;
    height: 20px;
    top: 0;
    padding: 5px;
    text-transform: uppercase;
}

.btn {
    color: #4f4c4c;
    background-color: #f4f4f4;
    padding: 10px 50px;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.btn-primary {
    color: #4f4c4c;
    background-color: #ffc107;
    font-weight: bold;
}