.back-color{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    display: inline-block;
    background: rgb(195,48,48);
    background: linear-gradient(0deg, rgba(245,28,0,1) 0%, rgba(231,255,250,1) 18%);
}