#title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #students {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  #students td, #students th {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  #students tr:nth-child(even){background-color: #faf9f9;}
  
  #students tr:hover {background-color: #ddd;}
  
  #students th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(63, 163, 167);
    color: black;
  }

  .content-modalDelete{
    min-width: 1px;
    min-height: 1px;
  }
  

  #fixedbutton{
    position: fixed;
    bottom: 0px;
    right: 0px; 
    background: rgb(78, 27, 94);
} 
#fixedbutton:focus{
    position: fixed;
    bottom: 0px;
    right: 0px; 
    background: rgb(156, 14, 61);
}


.back-color-staff{
  background: rgb(195,48,48);
  background: linear-gradient(0deg, rgba(245,28,0,1) 0%, rgba(231,255,250,1) 18%);
  min-height: 50%;
  min-width: 50%;
}

.modal-body {
  max-height: 300px;
}

#button-style {
  min-width: 100px;
}
