.containerAppointment {
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(61,158,224,1) 41%, rgba(69,168,252,1) 100%);
  min-height: 100vh;
    min-width: 50vh;
    display: start;
    align-items: start;
    justify-content: start;
    font-size: 15px;
    color: rgb(68, 53, 53);
    padding: 40px;
}

#title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #students {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  #students td, #students th {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  #students tr:nth-child(even){background-color: #faf9f9;}
  
  #students tr:hover {background-color: #ddd;}
  
  #students th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(132, 105, 182);
    color: black;
  }